<!-- _includes/nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{{ '/' | relative_url }}">הוראת מתמטיקה</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ '/' | relative_url }}">בית</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/content1.html' %}active{% endif %}" href="{{ '/content1.html' | relative_url }}">תוכן 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/TrigoTrainer.html' | relative_url }}">Trigo Trainer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/TrigoTrainer.html' | relative_url }}">Trigo Trainer</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  