---
---

@import "{{ site.theme }}";


.italic {
    font-style: italic;
}
#canvas-container {
    position: relative;
    
    border: 1px solid #000;
    background-color: black;
}
canvas {
    display: block;
}
#answer-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}
.btn {
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #4285f4;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #3367d6;
}
#status-message {

    font-size: 3rem;
    font-weight: bold;
    text-align:center;
    border: 1px solid #000;
    height: 60px;
    color: #daa;
    background-color:#000;
}
#results {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    max-width: 400px;
    width: 100%;
}
#result-text {
    white-space: pre-line;
    color:greenyellow;
    font-size: 1.3em;
}
.device-toggle {
    margin-bottom: 20px;
}
.hidden {
    display: none;
}
#name-input {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}
button {
    padding: 15px 8px;
    font-size: 18px;
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #36648B;
}
.math-button {
    display: inline-block;
    margin: 20px;
}
/* Increase the size of MathJax output */
.MathJax {
    font-weight: bold;
    font-size: 300% !important;
    max-height: 3rem;
}
