<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
    <div id="header">
      <!-- Navigation updated with toggle and nested menus -->
      <nav class="nav">
        <button id="menu-toggle">Menu</button>
        <ul class="menu">
          <li><a href="index.html">Home</a></li>
          <li class="has-submenu">
            <!-- Parent link remains clickable -->
            <a href="TrigoPage.html">Trigo</a>
            <!-- Separate toggle button for mobile -->
            <button class="submenu-toggle" aria-label="Toggle submenu">▼</button>
            <ul class="submenu">
              <li><a href="TrigoTrainer.html">Trigo Trainer</a></li>
              <li><a href="TrigoInfo.html">Trigo Info</a></li>
            </ul>
          </li>
          <li><a href="another-page.html">Another Page</a></li>
          <li><a href="571.pdf">571pdf</a></li>
          {% if site.show_downloads %}
            <li class="title">DOWNLOADS</li>
          {% endif %}
        </ul>
      </nav>
    </div><!-- end header -->

    <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </div>
        {{ content }}
      </section>
    </div>
    
    <!-- jQuery for menu toggling -->
    <script>
      $(document).ready(function() {
        // Toggle the main menu on mobile
        $('#menu-toggle').click(function() {
          $('.menu').slideToggle();
        });
        
        // Toggle submenu when the submenu toggle button is clicked
        $('.submenu-toggle').click(function(e) {
          if ($(window).width() < 768) {
            e.preventDefault();  // Prevent any accidental form submission or navigation
            $(this).siblings('.submenu').slideToggle();
          }
        });
        
        // Clear inline styles when resizing (desktop mode)
        $(window).resize(function() {
          if ($(window).width() >= 768) {
            $('.menu, .submenu').removeAttr('style');
          }
        });
      });
    </script>
  </body>
</html>
